body {
    margin: 0;
    font-family: Arial;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

button {
    padding: 8px;
    cursor: pointer;
}

.layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #222;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 20px;
    width: 100%;
}